<div class="component form-element">{{!--

                                Field
    --}}{{> _elem_input type="time" class=class id=id isError=isError name=name value=value placeholder=placeholder onblur=onblur onfocus=onfocus }}{{!--

                                Label
    --}}{{> elem_label id=id isError=isError placeholder=placeholder }}{{!--


    --}}{{> elem_error_text value=errorMsg }}
</div>
