$color-palette: (
  primary: #100f0f,
  secondary: #cf8800,
  alert: #b50101,
  warning: #ffab11,
  info: #ffff00,
  success: #01ba01,
  black: #000,
  white: #fff,
  dark-gray: #444,
  medium-gray: #888,
  light-gray: #aaa,
) !default;
