<div class="small-{{size}} columns fpb_entry {{css_class}}">
    <div class="row collapse">
        <div class="fpb_selectionmarker"></div>

        <div class="small-12 columns fpb_heading">
            <span class="show-for-medium">{{large_text}}</span>
            <span class="show-for-small-only">{{small_text}}</span>
        </div>

        <div class="small-12 columns text-center fpb_area">
            <div class="fpb_stripe"></div>
            <div class="fpb_bubble {{#pulsate}}pulsate{{/pulsate}}">
                <button></button>
            </div>
        </div>

    </div>
</div>