<div class="column small-12 medium-6">
    <a class="mod_JobSearch-Result" href="/site/detail/detailSteckbrief.html">
        <div class="row flex-container align-stretch">
            <div class="columns small-4 flex-container flex-dir-column align-justify">
                <div>
                    <img class="mod_JobSearch-ResultImage">
                    <span class="mod_JobSearch-ResultAge">(33, w)<br>aus Somewhere</span>
                </div>
                <div>
                    <span clasS="mod_JobSearch-ResultLabel">Sprachen</span>
                    <ul class="mod_JobSearch-ResultLanguages">
                        <li class="language">Deutsch</li>
                        <li class="language">Englisch</li>
                    </ul>
                </div>
            </div>
            <div class="columns small-7 flex-container flex-dir-column align-justify">
                <div>
                    <span class="mod_JobSearch-ResultDistance">Entfernung: <span class="value">2 km</span></span>
                    <span class="mod_JobSearch-ResultLabel">Minijob im Bereich:</span>
                    <ul class="mod_JobSearch-ResultJobbing">
                        <li>Haushalt <span class="price">10 €</span></li>
                        <li>Garten <span class="price">13 €</span></li>
                        <li class="marked">Tiere <span class="price">15 €</span></li>
                    </ul>
                </div>
                <div>
                    <span class="mod_JobSearch-ResultAvailability">ab sofort bis 30.09.2020</span>
                    <ul class="mod_JobSearch-ResultWeek">
                        <li class="day">Mo</li>
                        <li class="day">Di</li>
                        <li class="day available">Mi</li>
                        <li class="day available">Do</li>
                        <li class="day available">Fr</li>
                        <li class="day">Sa</li>
                        <li class="day">So</li>
                    </ul>
                </div>
            </div>
            <div class="columns small-1 flex-container flex-dir-column small-uncollapse">
                <div class="mod_JobSearch-ResultMark">
                    <div href="#" class="mod_JobSearch-ResultMarker {{#if bookmark}}svg-test--unbookmark svg-test--unbookmark-dims{{else}}svg-test--bookmark svg-test--bookmark-dims{{/if}}"></div>
                </div>
            </div>
        </div>
    </a>
</div>