<div class="itemTeaser">

    <div class="img-wrapper">
                                {{#if image}}
        <img src="{{root}}assets/img/example/{{image}}"/>
                                {{/if}}
    </div>

    <div class="action">
        {{> elem_link_cta link=link linkText=linkText cssClass="cta hasPopup" }}
    </div>

</div>