<li class="header-submenu-list-item small-12 medium-6 large-4 columns text-center{{#if isLast }} end{{/if}}">
    <a href="{{renderPageLink link.url context}}{{#if link.id}}#{{link.id}}{{/if}}">
        {{link.displayText}}
    </a>
</li>