{{#> mod_Fliesstext title="Hinweise zum Datenschutz" }}
    <p>
        Vielen Dank für Ihren Besuch auf unserer Web-Seite. Wir nehmen den Schutz Ihrer
        Privatsphäre bei der Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen
        Daten gemäß den gesetzlichen Bestimmungen ernst und möchten, dass Sie sich auf
        unserer Web-Seite nicht nur über Jobs und Jobangebote im Privathaushalt informieren
        können, sondern dass Sie sich dabei auch sicher fühlen.
    </p>

    <p>
        Diese Datenschutzerklärung gibt Informationen zur Datenverarbeitung durch die Minijob-
        Zentrale und Hinweise zu personenbezogenen Daten beim Aufrufen dieser Web-Seite, zu
        Links und zu E-Mails.
    </p>

    {{#> mod_Accordion title="Die Haushaltsjob-Börse" }}
        {{#> modSnip_AccordionItem title="Item 1" isActive=true }}{{!--
            --}}{{> loremipsum-large }}{{!--
        --}}{{/modSnip_AccordionItem}}

        {{#> modSnip_AccordionItem title="Item 2" }}{{!--
            --}}{{> loremipsum-large }}{{!--
        --}}{{/modSnip_AccordionItem}}

        {{#> modSnip_AccordionItem title="Item 3" }}{{!--
            --}}{{> loremipsum-large }}{{!--
        --}}{{/modSnip_AccordionItem}}

        {{#> modSnip_AccordionItem title="Item 4" }}{{!--
            --}}{{> loremipsum-large }}{{!--
        --}}{{/modSnip_AccordionItem}}

        {{#> modSnip_AccordionItem title="Item 5" }}{{!--
            --}}{{> loremipsum-large }}{{!--
        --}}{{/modSnip_AccordionItem}}
    {{/mod_Accordion}}

{{/mod_Fliesstext}}
