<h1>Modulsammlung</h1>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Accordion --}}
        <h2 class="label primary">Modul Accordion</h2>
        {{> mod_Accordion title="Modul Accordion" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul ArbeitnehmerUndGeber --}}
        <h2 class="label primary">Modul ArbeitnehmerUndGeber</h2>
        {{> mod_ArbeitnehmerArbeitgeber title="Modul ArbeitnehmerArbeitgeber" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Artikel --}}
        <h2 class="label primary">Modul Artikel</h2>
        {{> mod_Artikel title="Modul Artikel" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Bereichsnavigation --}}
        <h2 class="label primary">Modul Bereichsnavigation</h2>
        {{> mod_Bereichsnavigation offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Blitzanmeldung --}}
        <h2 class="label primary">Modul Blitzanmeldung</h2>
        {{> mod_Blitzanmeldung title="Modul Blitzanmeldung" offset=2 link="site/beispiele/examplePopup"}}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul CallToAction --}}
        <h2 class="label primary">Modul CallToAction</h2>
        {{> mod_CallToAction title="Modul CallToAction" offset=2 link="site/beispiele/examplePopup" }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Carousel --}}
        <h2 class="label primary">Modul Carousel</h2>
        {{> mod_Carousel title="Modul Carousel" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Fliesstext --}}
        <h2 class="label primary">Modul Fliesstext</h2>
        {{> mod_Fliesstext title="Modul Fliesstext" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Formbox --}}
        <h2 class="label primary">Modul Formbox</h2>
        {{> mod_Formbox title="Modul Formbox" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Infobox --}}
        <h2 class="label primary">Modul Infobox</h2>
        {{> mod_Infobox title="Modul Infobox" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul JobCategories --}}
        <h2 class="label primary">Modul JobCategories</h2>
        {{> mod_JobCategories title="Modul JobCategories" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul JobSearchQuery (FormProgressBar) --}}
        <h2 class="label primary">Modul Jobsuche</h2>
        {{> mod_FormProgressBar title="Zentrale Jobsuche" icon="hinweis_icon" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul JobSearchQuery --}}
        <h2 class="label primary">Modul Jobsuche</h2>
        {{> mod_JobSearch-Initial title="Zentrale Jobsuche" offset=2 icon="hinweis_icon" }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Navigation --}}
        <h2 class="label primary">Modul Navigation</h2>
        {{> mod_Navigation title="Navigation" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Zustellbericht --}}
        <h2 class="label primary">Modul Zustellbericht</h2>
        {{> mod_Zustellbericht title="Zustellbericht" offset=2 }}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{!-- Modul Zeitauswahl --}}
        <h2 class="label primary">Modul Zeitauswahl</h2>

        <form>
            {{> mod_Zeitauswahl }}
        </form>
    </div>
</div>
