{{#> mod_Fliesstext title="Warum Fragen wir das?" }}
    <p>Die Haushaltsjob-Börse ist eine Stellenbörse um Hilfe für die im Privat-Haushalt anfallenden
        Arbeiten anzubieten oder zu suchen.</p>
    <p>Als Arbeitgeber oder Haushaltshilfe handelt es sich daher ausschließlich um Privatpersonen.</p>
{{/mod_Fliesstext}}
