<li>
    <a class="linkStyle{{this.classifier}}" href="{{this.url}}" {{#ifEquals this.classifier "Mail"}}target="_blank"{{/ifEquals}}
       title="{{i18n "WeiterempfehlenPer_TitleAttribute" this.title }}">
        {{this.title}}
    </a>
</li>