{{#> mod_Zustellbericht title="Registrierungs-Bestätigung" }}
    <p>Vielen Dank für die Bestätigung Ihrer Registrierung.
    <p>Sie könne  sich direkt mit Ihrem Account auf
        <a href="{{renderPageLink 'site/login/login' this}}" title="zum Login">dieser Seite</a> anmelden.
{{/mod_Zustellbericht}}
