<iframe height="1200px" width="100%" src="https://get.foundation/sites/docs/kitchen-sink.html">
    <a href="https://get.foundation/sites/docs/kitchen-sink.html">Foundation Kitchen Sink</a>
</iframe> 