<div class="module module_zeitauswahl">

    <div class="module-container">
        <div class="module-container-wrapper">

            <div class="contentContainer">
                {{> modSnip_TimeBox dayname="Montag" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Dienstag" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Mittwoch" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Donnerstag" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Freitag" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Samstag" buttoncaption="Hinzufügen" }}
                {{> modSnip_TimeBox dayname="Sonntag" buttoncaption="Hinzufügen" }}
            </div>

        </div>
    </div>

</div>