<div class="component component_navmeta">
    <div class="component-container">
        <div class="component-container-wrapper">

            <div class="navMeta">
                <ul>
                    <li class="navServiceGS"><a href="{{renderPageLink 'site/hilfe/gebaerdensprache' this}}">Geb&auml;rdensprache</a></li>
                    <li class="navServiceLS"><a href="{{renderPageLink 'site/hilfe/leichteSprache' this}}">Leichte Sprache</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>