<div class="component component_header">
    <div class="component-container">
        <div class="component-container-wrapper">

            <div class="top-bar">
                <div class="top-bar-left">
                    <a class="logo" href="{{renderPageLink 'site/startseite' this}}">Startseite</a>

                </div>

                <div class="top-bar-right">
                    {{> comp_login }}

                    {{> comp_loggedInMenu }}

                    {{> comp_burgerMenu }}
                </div>
            </div>

        </div>
    </div>
</div>

