{{#> mod_Zustellbericht title="Zustellbericht" }}
    <p>Vielen Dank für Ihre Nachricht. <br>
        Wir werden ihr Anliegen umgehend bearbeiten und uns ggf. bei Ihnen melden.</p>
{{/mod_Zustellbericht}}
