<h1>DocType Sammlung</h1>

<div class="row">
    <h2 class="label primary">Steckbrief Detailansicht</h2>
    <div class="small-12 columns">
        {{> doc_detailSteckbrief offset=2 }}
    </div>
</div>
