/* ------------------------------
    ## on User Action - shortcut fuer focus, hover, action
    @param additional-selectors: Hier koennen weitere Selektoren Komma separiert angegeben werden.
    Das Mixin ist ein Shortcut fuer die 3 Actionszustaende focus, hover, active.
    Weiterer Content kann an das Mixin uebergeben werden. Dieser wird innerhalb der Pseudoklassen ausgegeben.
   ------------------------------ */
@mixin -kbs-on-user-action($additional-selectors: null) {

  $action-selectors: '&:focus, &:hover, &:active';

  @if $additional-selectors {
    $additional-selectors: $additional-selectors + ',' + $action-selectors;
  }
  @else {
    $additional-selectors: $action-selectors;
  }

  #{$additional-selectors} {
    @content;
  }
}
