<fieldset>
    <legend>Sprache</legend>
    <span>
        <input type="checkbox" name="sprachen_str" id="langDE" value="de">
        <label for="langDE">Deutsch</label>
        <span>(4567)</span>
    </span>
    <span>
        <input type="checkbox" name="sprachen_str" id="langEN" value="en">
        <label for="langEN">English</label>
        <span>(3456)</span>
    </span>
    <span>
        <input type="checkbox" name="sprachen_str" id="langFR" value="fr">
        <label for="langFR">Französisch</label>
        <span>(2345)</span>
    </span>
    <span>
        <input type="checkbox" name="sprachen_str" id="langSP" value="sp">
        <label for="langSP">Spanisch</label>
        <span>(1234)</span>
    </span>
</fieldset>