<fieldset>
    <legend>Alter</legend>
    <label for="alter_min">Alter-Min</label>
    <input type="range" id="alter_min" name="alter_min" min="20" max="100" range="5" value="30"/>
    <label for="alter_max">Alter-Max</label>
    <input type="range" id="alter_max" name="alter_max" min="20" max="100" range="5" value="40"/>
</fieldset>