<fieldset>
    <legend>Sortierung</legend>
    <label for="sortOrder">Suchreihenfolge</label>
    <select id="sortOrder" name="sortOrder">
        <option value="distance">Entfernung</option>
        <option value="age">Alter</option>
        <option value="wage">Gehalt</option>
    </select>
</fieldset>