<fieldset>
    <legend>Umkreis</legend>
    <label for="umkreis_min">Entfernung</label>
    <input type="range" id="umkreis_min" name="umkreis_min" min="5" max="50" range="5" value="10"/>
    <label for="umkreis_max">Entfernung</label>
    <input type="range" id="umkreis_max" name="umkreis_max" min="5" max="50" range="5" value="20"/>
</fieldset>