<fieldset>
    <legend>Geschlecht</legend>
    <input type="checkbox" name="kunde_geschlecht_str" id="genderMale" value="male">
    <label for="genderMale">männlich</label>
    <span>(1234)</span>
    <input type="checkbox" name="kunde_geschlecht_str" id="genderFemale" value="female">
    <label for="genderFemale">weiblich</label>
    <span>(1234)</span>
    <input type="checkbox" name="kunde_geschlecht_str" id="genderDivers" value="divers">
    <label for="genderDivers">divers</label>
    <span>(12)</span>
</fieldset>