<fieldset>
    <legend>Stundenlohn</legend>
    <label for="lohn_min">Stundenlohn-Min</label>
    <input type="range" id="lohn_min" name="lohn_min" min="5" max="50" range="5" value="10"/>
    <label for="lohn_max">Stundenlohn-Max</label>
    <input type="range" id="lohn_max" name="lohn_max" min="5" max="50" range="5" value="20"/>
</fieldset>