{{#> mod_Fliesstext title="Allgemeine Geschäftsbedingungen der Deutschen Rentenversicherung Knappschaft-Bahn-See für die Haushaltsjob-Börse"
                    }}
    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 1 Geltungsbereich
    {{/elem_headline}}
    <p>
        Die Deutsche Rentenversicherung Knappschaft-Bahn-See (kurz "KBS") betreibt im
        Internet eine Stellenbörse für Minijobs in Privathaushalten (nachfolgend kurz
        "Haushaltsjob-Börse" genannt) mit der Möglichkeit für Arbeitgeber und
        Arbeitnehmer, Stellenangebote zu suchen oder selbst aufzugeben.
        Diese Allgemeinen Geschäftsbedingungen der KBS finden in der jeweils aktuellen
        Fassung unmittelbar Anwendung auf sämtliche Nutzungsbeziehungen zwischen der KBS
        und Nutzern im Rahmen der Haushaltsjob-Börse. Sie gelten also, sobald ein Nutzer
        - gleich zu welchem Zweck - die Haushaltsjob-Börse aufruft.
        Abweichende Geschäftsbedingungen von Nutzern werden von der KBS ausdrücklich
        nicht anerkannt, es sei denn, dass die KBS der Geltung ausdrücklich zugestimmt
        hat.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 2 Gegenstand der Haushaltsjob-Börse
    {{/elem_headline}}
    <p>
        Die KBS stellt über das Internet eine Haushaltsjob-Börse zur Verfügung, um es
        registrierten Nutzern zu ermöglichen, eine Dienstleistung anzubieten
        (Dienstleistungs-Anbieter) oder nach einer Dienstleistung zu suchen
        (Dienstleistungs-Suchender), mit dem Ziel einer Kontaktaufnahme zwischen einem
        privaten Dienstleistungs-Anbieter und einem privaten Dienstleistungs-Suchenden.
        Die Nutzer der Haushaltsjob-Börse haben keinen Anspruch auf die Vorhaltung
        bestimmter Funktionen durch die KBS, unabhängig davon, ob es solche Funktionen
        in der Vergangenheit bereits gab oder nicht. Insbesondere ist die KBS als
        Betreiberin jederzeit, ohne Angabe von Gründen, berechtigt, Funktionen der
        Haushaltsjob-Börse zu ändern, zu streichen oder neue Funktionen hinzuzufügen
        bzw. die Nutzung von Funktionen mit dem Eintreten sachlicher oder persönlicher
        Bedingungen zu verbinden. Die Registrierung in der Haushaltsjob-Börse wie auch
        die Nutzung der Haushaltsjob-Börse ist unentgeltlich - auch im Falle einer
        erfolgreichen Vermittlung. Die Nutzer haben keinen Anspruch auf eine
        erfolgreiche Vermittlung gegenüber der KBS.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 3 Nutzerprofil und Anmeldung
    {{/elem_headline}}
    <p>
        Zur uneingeschränkten Nutzung der Haushaltsjob-Börse ist eine unentgeltliche
        Registrierung des Nutzers unter Angabe der notwendigen Stammdaten erforderlich.
        Stammdaten dürfen nur von und für unbeschränkt geschäftsfähige natürliche
        Personen eingerichtet werden. Da haushaltsnahe Dienstleistungen angeboten
        werden, ist es insbesondere untersagt, sich als Unternehmen (gleich welcher
        Rechtsform) zu registrieren. Ebenso ist gewerblichen Dienstleistungsanbietern
        die Registrierung untersagt. Es besteht kein Anspruch eines Nutzers auf
        Zulassung gegen die KBS. Die KBS behält sich vor, Nutzer entweder nicht
        zuzulassen oder die Stammdaten bzw. die Profile zugelassener Nutzer ohne Angabe
        von Gründen zu löschen. Dies gilt insbesondere bei Verstößen gegen diese
        Nutzungsbedingungen. Sowohl bei der Registrierung als auch bei der Aufgabe von
        Anzeigen sind alle Daten wahrheitsgemäß und vollständig anzugeben und vom Nutzer
        jederzeit auf einem aktuellen Stand zu halten. Jeder Nutzer hat die Möglichkeit,
        seine Stammdaten, sein Profil sowie seine Anzeigen zu bearbeiten. Ebenso hat der
        Nutzer das Recht, sein vollständiges Profil bzw. einzelne Anzeigen zu löschen.
        Die KBS hat keine Möglichkeit, die angegebenen Daten von Nutzern zu prüfen und
        übernimmt daher keine Verantwortung für die Richtigkeit und/oder Vollständigkeit
        von Nutzerdaten. Die auf der Haushaltsjob-Börse vom jeweiligen Nutzer bereit
        gestellten Informationen stellen Informationen der jeweils hierfür
        verantwortlichen Personen dar, die diese einstellen. Es handelt sich nicht um
        Inhalte der KBS, die sich diese Informationen und Inhalte auch nicht zurechnen
        lassen muss. Die KBS haftet für die von Nutzern eingestellten Informationen und
        Inhalte nur unter der Voraussetzung, dass sie sich diese ausdrücklich zu eigen
        gemacht hat. Zur Vermeidung von Missbrauchsfällen werden die eingestellten
        Informationen und Inhalte stichprobenartig überprüft. Außerdem geht die KBS
        berechtigten Beschwerden nach und schafft erforderlichenfalls Abhilfe. Das
        Nutzungsprofil ist nicht auf Dritte übertragbar. Jeder Nutzer darf nur ein
        Profil als Dienstleistungs-Suchender bzw. Dienstleistungs-Anbieter führen.
        Die KBS ist berechtigt, Nutzer teilweise, ganz oder auch dauerhaft von der
        Nutzung auszuschließen bzw. Profile von Nutzern zu sperren. Einem gesperrten
        Nutzer ist es untersagt, ein neues Profil anzulegen.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 4 Bedingungen zur Nutzung der Haushaltsjob-Börse
    {{/elem_headline}}
    <p>
        Die Nutzung der Haushaltsjob-Börse darf nur in Übereinstimmung mit den
        gesetzlichen Vorschriften und diesen Nutzungsbedingungen erfolgen. Dies gilt
        insbesondere für Art und Inhalt der eingestellten Profile und Anzeigen.
        Der Nutzer verpflichtet sich daher, die Haushaltsjob-Börse nicht missbräuchlich
        zu nutzen, insbesondere kein diffamierendes, anstößiges oder in anderer Weise
        rechtswidriges Material oder solche Informationen zu verbreiten. Dies betrifft
        insbesondere pornographische, rassistische, volksverhetzende oder vergleichbare
        Inhalte. Der Nutzer verpflichtet sich, die Haushaltsjob-Börse nicht zu benutzen,
        um andere Nutzer zu bedrohen, sie zu belästigen oder die Rechte Dritter zu
        verletzen.
        Der Nutzer verpflichtet sich, keine Mechanismen, Software, Skripte oder andere
        Hilfsmittel in Verbindung mit der Nutzung der Haushaltsjob-Börse zu verwenden,
        welche die Funktionalität oder Erreichbarkeit der Haushaltsjob-Börse
        einschränken oder behindern.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 5 Klarstellende Hinweise
    {{/elem_headline}}
    <p>
        Die KBS stellt lediglich ein Portal für das Suchen und Aufgeben von
        Stellenanzeigen bereit und ist nicht Beteiligter eines zustande gekommenen
        Dienstleistungsverhältnisses. Die Abwicklung des Dienstleistungsverhältnisses
        einschließlich etwaiger Auseinandersetzungen, z. B. hinsichtlich der Qualität
        der erbrachten Leistung bzw. hinsichtlich der Erfüllung behaupteter Ansprüche,
        ist ausschließlich Angelegenheit der Nutzer.
        Der Auftraggeber soll den Inhalt des ausgeschriebenen Auftrags möglichst
        vollständig und präzise beschreiben, um dem Auftragnehmer die Kalkulation des
        Auftrags zu ermöglichen. Werden Ausschreibungen, Stammdaten oder beteiligte
        Profile vor dem Ende des Angebotszeitraums gelöscht, so gilt der betroffene
        Auftrag bzw. das Gebot als nicht eingestellt. Es ist ausschließlich Aufgabe des
        Nutzers, für die rechtliche Unbedenklichkeit seiner Informationen zu sorgen. Die
        KBS trifft keine Tätigkeitsverpflichtung. Die KBS übernimmt im Einzelfall keine
        Überprüfung des Vorliegens entsprechender Voraussetzungen sowie gegebenenfalls
        erforderlicher fachlicher Qualifikationen zur Erbringung der vom Nutzer
        angebotenen Dienstleistungen. Die Nutzer, die Tätigkeiten erbringen bzw. in
        Auftrag geben wollen, sind zur selbstständigen Überprüfung des Vorliegens der
        erforderlichen Voraussetzungen und Qualifikationen zuständig. Die KBS empfiehlt
        dem jeweiligen Nutzer insoweit, sich vor dem Abschluss eines etwaigen Vertrags
        bzw. vor Aufnahme der Tätigkeit, entsprechende Qualifikationsnachweise bzw.
        Zeugnisse vorlegen zu lassen; gegebenenfalls sollte auch ein polizeiliches
        Führungszeugnis angefordert werden. Zum Abgleich der Identität sollte sich der
        jeweilige Nutzer ein geeignetes Ausweisdokument vorlegen lassen – etwa einen
        Personalausweis. Untersagt sind Tätigkeiten oder Leistungen, die einzeln oder
        auch in Verbindung mit anderen Tätigkeiten gegen gesetzliche Verbote oder
        behördliche Anweisungen verstoßen, insbesondere die gesetzlichen Bestimmungen
        zur Verhinderung von Schwarzarbeit.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 6 Haftung der KBS
    {{/elem_headline}}
    <p>
        Die KBS übernimmt keine Verantwortung für den Inhalt und die Richtigkeit der
        Angaben in den Anmelde- und Profildaten der Nutzer sowie weiteren von den
        Nutzern generierten Inhalten. Ebenso übernimmt die KBS keine Haftung für den
        eventuellen Missbrauch von Informationen. Die KBS haftet nicht für unbefugte
        Kenntniserlangung von persönlichen Nutzerdaten durch Dritte (z. B. durch
        "Hacken" der Datenbank). Ebenso haftet die KBS nicht für den Missbrauch von
        Informationen von Nutzern durch Dritte, die von diesen Nutzern selbst Dritten
        zugänglich gemacht wurden. Die KBS stellt die Haushaltsjob-Börse in der jeweils
        vorhandenen Form und Funktion zur Nutzung bereit. Hinsichtlich der Verfügbarkeit
        des Systems wird keine Garantie abgegeben oder Mindestverfügbarkeit zugesichert.
        Die Verfügbarkeit des Systems kann aus verschiedenen Gründen ganz oder teilweise
        eingeschränkt sein. Eine Haftung wegen eingeschränkter Verfügbarkeit des Systems
        ist - gleich aus welchem Rechtsgrund - ausgeschlossen.
        Für die Zusammensetzung seiner Informationsinhalte (Text, Bild, Gestaltung etc.)
        und für alle darin enthaltenen Angaben und der sich aus diesen eventuell
        ergebenden Rechtsfolgen haftet der Nutzer bzw. der Urheber selbst. Es handelt
        sich hierbei um für die KBS fremde Inhalte. Es ist ausschließlich Aufgabe des
        Nutzers wettbewerbs-, marken-, urheber- oder namensrechtliche Fragen vor Abgabe
        seiner Erklärungen zu überprüfen und zu klären. Im Falle der Inanspruchnahme
        durch Dritte haftet der Nutzer allein und verpflichtet sich, die KBS von
        Ansprüchen, Kosten und Schadensersatzansprüchen Dritter freizustellen,
        einschließlich der Rechtsverfolgungskosten.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 7 Datenschutz
    {{/elem_headline}}
    <p>
        Die KBS nimmt den Schutz der Privatsphäre bei der Erhebung, Verarbeitung und
        Nutzung von personenbezogenen Daten gemäß den gesetzlichen Bestimmungen ernst.
        Die KBS ist als Sozialversicherungsträger dem Datenschutz verpflichtet und
        richtet sich hierbei insbesondere nach dem Zweiten Kapitel des SGB X und dem
        Bundesdatenschutzgesetz. Der Besuch auf unserer Webseite bleibt anonym. Für
        Statistikzwecke und gegebenenfalls zur Fehleranalyse wird lediglich der Name des
        Internet Service Providers, die Webseite, von der aus unsere Internetseiten
        besucht werden, die besuchten Webseiten, die IP-Adresse sowie das Datum und die
        Dauer des Besuches gespeichert. Wir erstellen keine "Benutzerprofile".
        Wenn jedoch Angebote in die Haushaltsjob-Börse eingestellt oder Kontakte mit
        Anbietern aufgenommen werden sollen, werden zur Registrierung und
        Authentifizierung personenbezogene Daten benötigt. Hierzu ist die Einwilligung
        der Nutzer erforderlich. Einzelheiten können den Regelungen zum Datenschutz
        entnommen werden. Ohne die Einwilligung der Nutzer werden wir keine
        personenbezogenen Daten erheben, speichern, verarbeiten oder an Dritte
        weitergeben.
    </p>

    {{#> elem_headline offset=(addition offset 1) vsize=2 }}
        § 8 Schlussbestimmungen
    {{/elem_headline}}
    <p>
        Es gilt das Recht der Bundesrepublik Deutschland.
        Als Erfüllungsort für etwaige Leistungen aus der Nutzungsbeziehung zwischen
        Nutzer und der KBS wird einheitlich Bochum vereinbart.
        Sollte eine Bestimmung des Vertrags und/oder dieser Bedingungen unwirksam oder
        unvollständig sein, bleiben die übrigen Bestimmungen hiervon unberührt. An
        Stelle der unwirksamen oder unvollständigen Bestimmung werden die Parteien
        eine solche vereinbaren, die beide Seiten bei Kenntnis der Unwirksamkeit oder
        Unvollständigkeit wirtschaftlich vereinbart hätten.
    </p>
{{/mod_Fliesstext}}
