<div class="symbole">
    <a href="" ><img class="anmeldeprofil" src="{{root}}assets/img/svg-sprites/hjb_profil.svg" content="Anmeldeprofil"></a>
    <label for="menue" class="menueLabel"></label>
</div>
