{{!-- TODO: Es handelt sich hier nicht um ein Modul. --}}

<div class="module_header">
    <div class="header">
        <div class="row-collapsed">
            <div class="small-12 columns-collapse">
                <div class="row expanded">
                    {{> nav_topBar }}
                </div>
            </div>
        </div>
        <div class="row expanded">
            <div class="small-12 columns-collapse">
                <div class="row">
                    <div class="barrierefrei">
                        {{> nav_topServiceBar }}
                    </div>
                </div>
            </div>
            <div class="ueberschrift">
                <div class="small-12 columns-collapse">
                    <div class="row">
                        <div class="ueberschriftPlatzierung">
                            <div class="small-3 columns">
                                {{> struc_bodyHeader_claim }}
                            </div>
                            <div class="small-9 columns">
                                {{> struc_bodyHeader_login }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
