<div class="module">
    {{#> elem_headline class="module-headline" vsize=1 }}
        {{title}}
    {{/elem_headline}}

    <div class="module_container">
        <div class="module_container_wrapper">
            <div class="mod_JobSearch">
                <div class="mod_JobSearch-Query">
                    {{> form_Search offset=(addition offset 1)}}
                </div>
            </div>
        </div>
    </div>
</div>
