<div class="module module_artikel">
    <div class="module-container">
        <div class="module-container-wrapper">

            {{> mod_Fliesstext}}
            {{> comp_recommendation}}

        </div>
    </div>
</div>