<div class="menubar">
    <label class="menu-btn">
        <input class="menu-btn-toggle" type="checkbox" />
        <span class="menu-btn-text">Menu</span>

        {{> comp_menu }}
    </label>
</div>
