{{#> mod_Fliesstext title="Warum Fragen wir das?" }}
    <p>Durch die Angabe Ihrer Adresse verifizieren Sie sich als geprüfter Benutzer.</p>
    <p>Uns ist wichtig, dass nur seriöse und tatsächliche Angebote auf der Haushaltsjob-Börse eingestellt
        werden, daher erhalten Sie nach der Registrierung ein Begrüßungsschreiben per Post von uns.</p>
    <p>Natürlich können Sie bereits jetzt den vollen Umfang der Haushaltsjob-Börse nutzen.</p>
{{/mod_Fliesstext}}
