{{#> mod_Zustellbericht title="Zustellbericht" }}
    <p>Vielen Dank für die von ihnen gemeldete Barriere. <br>
        Wir sind immer bemüht uns zu verbessern, danke, dass sie uns dabei unterstützen.</p>
{{/mod_Zustellbericht}}
