{{#> mod_Fliesstext title="Über uns" }}
    <p>
        Diese Stellenbörse für Beschäftigungen in Privathaushalten ist ein kostenloser Service
        der Minijob-Zentrale
    </p>

    <p>
        Sie suchen oder bieten Unterstützung für die alltäglichen Arbeiten in der Wohnung, bei
        der Gartenarbeit oder bei der Betreuung von Kindern, Senioren oder Haustieren? Hier
        geben wir Arbeitnehmern und Arbeitgebern die Möglichkeit, unkompliziert Hilfe für die
        im Haushalt anfallenden Arbeiten anzubieten oder zu suchen.
        Erhöhen Sie Ihre Chance, indem Sie selbst eine Anzeige aufgeben - einfach und
        kostenlos.
    </p>

    <div class="row">
        <div class="small-12 medium-6 columns text-center">
            <a href="#" class="button">Kostenlose Stellenanzeige erstellen</a>
        </div>
        <div class="small-12 medium-6 columns text-center">
            <a href="#" class="button">Kostenlosen Steckbrief erstellen</a>
        </div>
    </div>

    <p>
        <b>Bitte beachten Sie:</b>
    </p>

    <p>
        unsere Stellenbörse umfasst Haushaltsjobs - sowohl Minijobs (bis 450 Euro) als auch
        sozialversicherungspflichtige Beschäftigungen (über 450 Euro) in Privathaushalten
        Haushaltsjobs sind Tätigkeiten, gewöhnlich durch Familienangehörige erledigt
        werden als Arbeitnehmer und Arbeitgeber kommen nur Privatpersonen und somit keine
        Dienstleistungsagenturen oder Unternehmen in Frage. Haushaltsjobber haben
        grundsätzlich Anspruch auf 9,35 Euro brutto Mindestlohn je Stunde.
        War Ihre Suche erfolgreich und Sie haben einen Haushaltsjob bzw. einen
        Haushaltsjobber gefunden, informiert Sie die Haushaltsjob-Börse der Minijob-Zentrale
        auch darüber, wie die Beschäftigung anzumelden ist.
    </p>

    <p>
        <i>
            ToDo: Hier kommt noch eine Komponente hin (2-Logobox ?)
            Eine Box, in welcher links und rechts jeweils ein Logo dargestellt
            werden soll.
        </i>
    </p>

    <p>
        Die Minijob-Zentrale ist deutschlandweit die zentrale Einzugs- und Meldestelle für alle
        geringfügigen Beschäftigungen, die so genannten Minijobs.
        Zum Aufgabenspektrum der Minijob-Zentrale gehört neben dem Meldeverfahren zur
        Sozialversicherung und dem Einzug der Pauschalabgaben bei allen gewerblichen
        Minijobs auch die Durchführung des Haushaltscheck-Verfahrens für Minijobs in
        Privathaushalten.
    </p>

    <p>
        Darüber hinaus bietet die Minijob-Zentrale Arbeitgebern und Arbeitnehmern ein
        umfassendes Service- und Informationsangebot aus einer Hand und berät zum
        Versicherungs-, Beitrags- und Melderecht bei geringfügigen Beschäftigungen.
    </p>

    <p>
        Die Minijob-Zentrale gehört dem einzigartigen Verbund der Deutschen
        Rentenversicherung Knappschaft-Bahn-See (KBS) an. Mit gesetzlicher
        Rentenversicherung, Kranken- und Pflegeversicherung, Renten-Zusatzversicherung, der
        Seemannskasse und einem eigenen medizinischen Netz nimmt die KBS in der
        Sozialversicherung einen besonderen Platz ein. SIe bietet ihren Mitgliedern eine
        umfassende soziale wie medizinische Sicherheit.
    </p>

    <p>
        Weitere Informationen zur KBS bietet die Internetseite
        <a>www.kbs.de</a>
    </p>
{{/mod_Fliesstext}}
