{{#> mod_Fliesstext title="Impressum" }}
    <p>
        Allgemeine Informationspflichten gemäß § 5 Telemediengesetz und § 55
        Rundfunkstaatsvertrag
    </p>

    <p>
        Die Deutsche Rentenversicherung <span>Knappschaft-Bahn-See</span> ist eine rechtsfähige
        Körperschaft des öffentlichen Rechts mit Selbstverwaltung und besitzt
        Dienstherrnfähigkeit (§ 29 SGB IV in Verbindung mit § 143 Abs. 1 SGB VI).
    </p>

    <p>
        Dieses Impressum gilt für den gesamten Internet-Auftritt der Deutschen
        Rentenversicherung <span>Knappschaft-Bahn-See</span> sowie für die folgenden
        Social-Media-Profile:
    </p>

    <div class="row collapse">
        <div class="small-12 medium-11 large-8 columns">

            <div class="row collapse">
                <div class="small-12 medium-2 columns">
                    <span>Facebook:</span>
                </div>
                <div class="small-11 small-offset-1 medium-10 medium-offset-0 columns">
                    <a class="">http://www.facebook.com/kbs.karriere.kickoff</a>
                </div>
                <div class="small-11 small-offset-1 medium-10 medium-offset-2 columns">
                    <a>https://www.facebook.com/MinijobZentrale</a>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 medium-2 columns">
                    <span>Twitter:</span>
                </div>
                <div class="small-11 small-offset-1 medium-10 medium-offset-0 columns">
                    <a>http://www.twitter.com/minijobzentrale</a>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 medium-2 columns">
                    <span>Blog:</span>
                </div>
                <div class="small-11 small-offset-1 medium-10 medium-offset-0 columns">
                    <a>http://blog.minijob-zentrale.de/</a>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 medium-2 columns">
                    <span>YouTube:</span>
                </div>
                <div class="small-11 small-offset-1 medium-10 medium-offset-0 columns">
                    <p><a>http://www.youtube.com/user/MinijobZentrale</a></p>
                </div>
            </div>

        </div>
    </div><br>

    <p>
        Herausgeber:<br>
        Deutsche Rentenversicherung <span>Knappschaft-Bahn-See</span><br>
        Pieperstraße 14-28<br>
        44789 Bochum
    </p>

    <p>
        Postanschrift:<br>
        Deutsche Rentenversicherung <span>Knappschaft-Bahn-See</span><br>
        44781 Bochum<br>
        Tel. 0234/304 - 0<br>
        Fax 0234/304 - 66050<br>
        E-Mail an die Zentrale der KBS
    </p>

    <p>
        Zuständige Aufsichtsbehörde:<br>
        Bundesamt für Soziale Sicherung<br>
        Friedrich-Ebert-Allee 38<br>
        53113 Bonn<br>
    </p>

    <p>
        Redaktion:<br>
        Deutsche Rentenversicherung <span>Knappschaft-Bahn-See</span><br>
        Referat 0.5<br>
        Presse- und Öffentlichkeitsarbeit, Marketing<br>
        Dr. Wolfgang Buschfort (verantwortlich)<br>
        Marcus Mühlig<br>
        Kai Brehmer<br>
        Stefanie Lux<br>
        Laura Stankjawitschjute<br>
        E-Mail an das Referat 0.5
    </p>

    <p>
        Für Hinweise und Anregungen nutzen Sie bitte unser
        <a>Kontaktformular</a>
    </p>

    <p>
        Steueridentifikationsnummer<br>
        DE 124089627
    </p>

    <p>
        Das Internetangebot wird herausgegeben von der Deutschen Rentenversicherung
        <span>Knappschaft-Bahn-See</span>, vertreten durch die Geschäftsführung,
        Heinz-Günter Held, Mitglied der Geschäftsführung.
    </p>

    <p>
        Die Deutsche Rentenversicherung <span>Knappschaft-Bahn-See</span> ist sich
        der Bedeutung der Sprache in Bezug auf Gleichberechtigung der Geschlechter
        bewusst und ist stets bemüht, dies zu berücksichtigen. Aus Gründen der besseren
        Lesbarkeit verzichten wir auf die durchgängige Umsetzung differenzierender
        Formulierungen. Sämtliche Personenbezeichnungen gelten gleichwohl für alle
        Geschlechter einschließlich der nicht festgelegten.
    </p>
{{/mod_Fliesstext}}
